PORT = 3000
MONGO_URI = mongodb://kpatel:kishan1219@ds159651.mlab.com:59651/storybooks-prod
GOOGLE_CLIENT_ID = 949188436745-gp770no05q9fchnvsu1v17vugeh1g9q6.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET = 06cNMVoUJM0Ic5_ljsAMPTOM